
.progress-bar-danger {
    background-color: #e7505a !important;
}
.progress-bar-warning {
    background-color: #f4902f !important;
}
.progress-bar-info {
    background-color: #3598DC !important;
}

.nbox {
    height: 90px;
    font-weight: bold;
    padding: 0px 0px 0px 15px;
}
.nbox .number {
    font-size: 36px;
}
.nbox.grey {
    border-left: 7px solid #acacac;
}
.nbox.red {
    border-left: 7px solid #e7505a;
}
.nbox.yellow {
    border-left: 7px solid #f4902f;
}
.nbox.blue {
    border-left: 7px solid #3598DC;
}


.label-icon-w {
    width: 16px;
}

.mh-rank {
    min-height: 230px !important;
    border: 1px solid red;
}

.bootstrap-table .table  {
     border-bottom: 0px solid #ddd !important;
}

.portlet.light.bordered > .portlet-title {
    border-bottom: 1px solid #eef1f5;
}

.portlet.light > .portlet-title {
    padding: 0;
    min-height: 38px;
}

.portlet.light > .portlet-title > .caption {
    padding-top: 5px;
}
.b {
    border: 1px dashed #acacac;
}

